/* --------------Business Magazine Subpages-----------------*/
body{background:#330033 url(businessbackground.jpg) top right no-repeat;}
.highlight-shaded {background: #330033;}
.highlight-outline {border-color:#330033;}
