/*----------------Alumni Magazine--Sub Pages--------------------*/
body{background:#217C8F url(alumnibackground.jpg) top right no-repeat;}
.highlight-shaded {background: #217C8F;}
.highlight-outline {border-color:#217C8F;}

	
