/* Portal page variants  */
/*---------------purple potal pages-------------*/
body, .mceContentBody{
	background:#1E0F20!important;
	}
#portal-columns {
	background:transparent url(purplefooter.jpg) bottom center no-repeat;
	}
#portal-breadcrumbs {
    background:#361B3A;
	}
#content table.listing th, #content table.listing tbody tr.odd td, table.keyfactstable th{
	background:#402143!important;
	}
