/* staff */
/*--------------------------------------------------------*/
.template-collage_view {
	background:url(staffbackground.jpg) no-repeat top right #002851;
	}
/*----------------------------------- ROW 1------------------------------------------*/
#content h2 a:hover,#content h3 a:hover {
	text-decoration:underline!important;
	}
#collage .two-columns-largeright .block_1 {
	width: 46.5%; 
	margin-right:2%; 
	margin-left:0.5%;
	}
#collage .two-columns-largeright .block_2 {
	width: 48.6%; 
	padding:2% 1.2%; 
	background-color:#fff; 
	}
#content p, #content dl {
	margin-bottom: 0em;
	}
#content p.tileBody {
	color:#333;
	}
#content #collage .portletStaticText ul {
    padding-bottom: 10px;
}
/*----------------------------------Blue buttons like telephone directory, academic departments etc-----------------------------------------*/
#content p.bluebuttons a, 
#content p.bluebuttonsspotlight a {
	font-weight:bold;
	display:block;	
	padding:6px 10px 7px;
	text-decoration:none;
	color:#fff!important;
	background:#0F4A7B;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	margin-bottom:6px;
	}

/*---This controls a button with an image inside -------*/
#content p.bluebuttonsspotlight a {
	height:118px;
	}
#content p.bluebuttonsspotlight a img {
	height:100px;
	}
#content p.bluebuttons a:hover, 
#content p.bluebuttonsspotlight a:hover{
	background-color:#000; 
	color:#fff!important; 
	text-decoration:none!important;
	}
#content #collage ul li:before{
	color:rgba(255,255,255,0.85);
	}
/* makes text in first column white */
.block_1 p, .block_1 p a, .block_1 ul li, .block_1 ul li a, .block_1 h2 a:link, .block_1 h2 a:visited, .block_1 h3 a:link, .block_1 h3 a:visited, .block_1 ul li a:hover, .block_1 p a:hover, #content dl.portlet a:hover{
	color:#fff!important; 
	}
#content #collage .portletStaticText ul li a:hover, #content #collage .portletStaticText ul li a:hover, #content #collage .block_1 .portletStaticText h2 a:hover, #content #collage .portletStaticText h3 a:hover, #content #collage .block_1 .portletStaticText p a:hover{
	color:#fff!important;
	text-decoration:underline;
	}
#collage .two-columns-largeright .block_1 h2:after, #content #collage .portletStaticText h3:after{
	color:#fff;
	color:rgba(255,255,255,0.85); 
	font-size:155%;
	font-family: 'icomoon'; 
	display:inline-block; 
	float:right; 
	width:19px;
	content: "\e008";
	padding-right:5px;
	}
#content .two-columns-largeright .block_2 .collage_item_1 p.tileBody, 
#content .two-columns-largeright .block_2 .collage_item_1 img.tileImage,
#content .two-columns-largeright .block_2 .collage_item_2 h2{
	display:none;
	}
#content .two-columns-largeright .block_2 .tileItem {
	padding-top:4px; 
	height:1%; 
	overflow:hidden;
	}
#content .standard-topic{
	padding:0 5px;
	}
/*--this is the gradient on the right-hand side beneath the two blue buttons---*/
#dividergradient {
	clear:both;
	border-top:#ccc 1px solid; 
	height:10px; background: -moz-linear-gradient(top,  rgba(225,225,225,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,225,225,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,225,225,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,225,225,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,225,225,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,225,225,1) 0%,rgba(255,255,255,1) 100%); /* W3C */}
/*-------IE7 reduce the widths of the columns ----------*/	
#collage .two-columns-largeright .block_2 {
	*width: 48%; 