/* ------------Physics----------- */
body{background:#394984 url(physics_stars.jpg) repeat-x 0px 0px!important;}

.highlight-shaded {background:#394984;}
/*----------highlight and outline paragraph to match site-------------*/
.highlight-outline {border-color: #394984;}
