/* CSS Document */

.uolheader {
	background:url("++resource++leicester.plonetheme.images/ie8/banner_title_bg.png") no-repeat top right;
	}
#portal-footer, #portal-globalnav {
	background:url("++resource++leicester.plonetheme.images/ie8/footerbgie.png") 0 0; overflow:hidden; height:1%; position: relative; display:block;
	}
dl.portlet dt, dl.portlet dt, div.portletAssignments div.portletHeader, #content .eventDetails h2,.boardCommentDetails{
	   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#d7d7d7')";
	}
.commentBody {
    border:1px solid #ccc;
	}
#portal-logo {float:left;
	margin:10px;
	}

/* Paragraph Icons */
p.warning{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/warningparaie8.png") no-repeat 0 0;
	}
p.questions,p.faqs{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/faqparaie8.png") no-repeat 0 0;
	}
p.quicklinks{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/linksparaie8.png") no-repeat 0 0;
	}
p.info,p.ploneinfo{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/infoparaie8.png") no-repeat 0 0;
	}
p.example{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/exampleparaie8.png") no-repeat 0 0;
	}
p.video{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/videoparaie8.png") no-repeat 0 0;
	}
p.resources{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/resourcesparaie8.png") no-repeat 0 0;
	}
p.blackboard{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/blackboardparaie8.png") no-repeat 0 0;
	}
p.help{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/helpparaie8.png") no-repeat 0 0;
	}
p.goodpractice{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/goodparaie8.png") no-repeat 0 0;
	}
p.podcast,p.audio{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/audioparaie8.png") no-repeat 0 0;
	}
p.keyfacts{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/keyfactsparaie8.png") no-repeat 0 0;
	}
p.documentation{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/documentationparaie8.png") no-repeat 0 0;
	}
p.important{
	background: #d6d6d6 url("++resource++leicester.plonetheme.images/ie8/importantparaie8.png") no-repeat 0 0;
	}

/*----Call to action buttons---------*/
.calltoactionprospectus a:before, .calltoactionapply a:before, .calltoactionopenday a:before,  .calltoactionmyleicester a:before, .calltoactioncourse a:before, .calltoactionfeesfinance a:before, .calltoactionblackboard a:before, .calltoactionexpert a:before, .calltoactionscholarships a:before, .calltoactionfindus a:before, .calltoactionleicsex a:before, .calltoactionapplyphd a:before, .calltoactionengage a:before, .calltoactionbooknow a:before, .calltoactionprospectus a span, .calltoactionapply a span, .calltoactionopenday a span,  .calltoactionmyleicester a span, .calltoactioncourse a span, .calltoactionfeesfinance a span, .calltoactionblackboard a span, .calltoactionexpert a span, .calltoactionscholarships a span, .calltoactionfindus a span, .calltoactionleicsex a span, .calltoactionapplyphd a span, .calltoactionengage a span, .calltoactionbooknow a span{display:none;}
	
	
	
.calltoactionprospectus a, .calltoactionapply a, .calltoactionopenday a,  .calltoactionmyleicester a, .calltoactioncourse a, .calltoactionfeesfinance a, .calltoactionblackboard a, .calltoactionexpert a, .calltoactionscholarships a, .calltoactionfindus a, .calltoactionleicsex a, .calltoactionapplyphd a, .calltoactionengage a, .calltoactionbooknow a{min-height:32px; padding:0;}

.calltoactionmyleicester a {min-height:51px;}


.calltoactionprospectus a{background: url("++resource++leicester.plonetheme.images/ie8/prospectus.png") no-repeat 0 0;}
.calltoactionprospectus a:hover{background: url("++resource++leicester.plonetheme.images/ie8/prospectushover.png") no-repeat 0 0;}

.calltoactionapply a{background: url("++resource++leicester.plonetheme.images/ie8/applyonline.png") no-repeat 0 0;}
.calltoactionapply a:hover{background: url("++resource++leicester.plonetheme.images/ie8/applyonlinehover.png") no-repeat 0 0;}

.calltoactionapplyphd a{background: url("++resource++leicester.plonetheme.images/ie8/applyphd.png") no-repeat 0 0;}
.calltoactionapplyphd a:hover{background: url("++resource++leicester.plonetheme.images/ie8/applyphdhover.png") no-repeat 0 0;}

.calltoactionopenday a{background: url("++resource++leicester.plonetheme.images/ie8/bookopenday.png") no-repeat 0 0;}
.calltoactionopenday a:hover{background: url("++resource++leicester.plonetheme.images/ie8/bookopendayhover.png") no-repeat 0 0;}

.calltoactionmyleicester a{background: url("++resource++leicester.plonetheme.images/ie8/myleicester.png") no-repeat 0 0;}
.calltoactionmyleicester a:hover{background: url("++resource++leicester.plonetheme.images/ie8/myleicesterhover.png") no-repeat 0 0;}

.calltoactionfeesfinance a{background: url("++resource++leicester.plonetheme.images/ie8/fees.png") no-repeat 0 0;}
.calltoactionfeesfinance a:hover{background: url("++resource++leicester.plonetheme.images/ie8/feeshover.png") no-repeat 0 0;}

.calltoactioncourse a{background: url("++resource++leicester.plonetheme.images/ie8/findacourse.png") no-repeat 0 0;}
.calltoactioncourse a:hover{background: url("++resource++leicester.plonetheme.images/ie8/findacoursehover.png") no-repeat 0 0;}

.calltoactionblackboard a{background: url("++resource++leicester.plonetheme.images/ie8/blackboard.png") no-repeat 0 0;}
.calltoactionblackboard a:hover{background: url("++resource++leicester.plonetheme.images/ie8/blackboardhover.png") no-repeat 0 0;}

.calltoactionfindus a{background: url("++resource++leicester.plonetheme.images/ie8/howtofindus.png") no-repeat 0 0;}
.calltoactionfindus a:hover{background: url("++resource++leicester.plonetheme.images/ie8/howtofindushover.png") no-repeat 0 0;}

.calltoactionengage a{background: url("++resource++leicester.plonetheme.images/ie8/engage.png") no-repeat 0 0;}
.calltoactionengage a:hover{background: url("++resource++leicester.plonetheme.images/ie8/engagehover.png") no-repeat 0 0;}

.calltoactionleicsex a{background: url("++resource++leicester.plonetheme.images/ie8/leicesterexchanges.png") no-repeat 0 0;}
.calltoactionleicsex a:hover{background: url("++resource++leicester.plonetheme.images/ie8/leicesterexchangeshover.png") no-repeat 0 0;}


.calltoactionbooknow a{background: url("++resource++leicester.plonetheme.images/ie8/booknow.png") no-repeat 0 0;}
.calltoactionbooknow a:hover{background: url("++resource++leicester.plonetheme.images/ie8/booknowhover.png") no-repeat 0 0;}

#content p.calltoaction a:link:before, #content p.calltoaction a:visited:before{
	margin-right:5px;
	margin-left:8px; 
	}

/*--------staff and student homepage----------------*/
.shadeddivider {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ededed', endColorstr='#ffffff')";
	}