@charset "utf-8";
/* CSS Document */

* { background: transparent !important; color: #444 !important; text-shadow: none; }
7	  a, a:visited { color: #444 !important; text-decoration: underline; }
8	  a:after { content: " (" attr(href) ")"; }
9	  abbr:after { content: " (" attr(title) ")"; }    .ir a:after { content: ""; }  /* Don't show links for images */    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }    img { page-break-inside: avoid; }
10	  @page { margin: 0.5cm; }
11	  p, h2, h3 { orphans: 3; widows: 3; }
12	  h2, h3{ page-break-after: avoid; }