h1.documentFirstHeading:before{content:"Mobiles:";}

/*----this hides the global nav, login menu and search box from displaying at the top of the screen on mobiles---*/
#portal-globalnav, #portal-personaltools, #portal-searchbox{
	display:none;
	}

/*----this displays the duplicate global nav menu that is in the footer -*/
.mobilemenu, .mobilemenu #portal-searchbox{
	display:block;
	}

.mobilemenu #portal-searchbox {
    clear:both;
    float: none;}
.mobilemenu{
	margin:1em 0px;
	width: 95% !important;}	
	
.mobilemenu li{}	

.mobilemenu li a{display:block;}	

/*-------resets the fixed width (990px) to full width-------*/
#visual-portal-wrapper, #portal-header, #portal-footer-wrapper{
	width: 100% !important;
	margin: 0px auto !important;
	}
	
/*#portal-footer-wrapper #portal-searchbox input[type="text"] {
	width:200px; margin-left:10px; margin-top:10px;
	}*/
	

/* move columns to below main content  */ 
#portal-column-two, #portal-column-one {
	clear: both;
	margin-left: -97% !important;
	margin:1em 0px;
	width: 95% !important;
	
	} 
/* spread out the content*/
div#portal-column-content {
	width: 94%;
	margin-left: -97%;
	}
	
#portal-logo{display:block;}
/*-----------Header-----------------*/
.uolheader{
	background: -moz-linear-gradient(center top , #d7d7d7 0%, #BFBFBF 100%) repeat scroll 0 0 transparent;
    position:relative;
	border-top-right-radius:0;
	margin:0;
	padding-top:1.5%;
	overflow:hidden;}
	
.uolheader p{display:block; width:86%;
float:left;
	margin:0; 
	padding-left:0;
	padding-bottom:4px;
	}	
.uolheader p a{
	line-height:1.2em; 
	display:block;
	}
.tabposition {
	height:0;
	}
.tabposition img, #portal-breadcrumbs{
	display:none;
	}
	
/*------------Footer---------------*/
#portal-footer{
	padding: 1em 0.6em;
	}
#portal-footer ul.left, #portal-footer ul.right {display:none;}


#portal-footer ul.social {
    float: none; margin:7px 0 12px;}

#portal-footer ul.social li.text {display:none!important;}
#portal-footer ul.social li{width:20%;}

#portal-footer ul.social li a {
    float: none;}

#portal-footer ul.social li.facebook a, #portal-footer ul.social li.linkedin a, #portal-footer ul.social li.twitter a, #portal-footer ul.social li.youtube a, #portal-footer ul.social li.flickr a {
    font-size: 200%;
    margin: 0 0 0 8px;
    position:inherit;
}

.mobileskip {width:13%; 
display:block;
float:left;
 padding:0 0 1% 1%;

}
.mobileskip li a:before{content: "\63";
font-family: 'icomoon'; 
	font-size:115%; 
	color:#444;
	margin:0;
	text-align:center;
	display:block;}

.mobileskip li a{ display:block; color:#898476!important;}

.mobilemenu li a {color:#fff!important;}
/*---------All Collages pages-----*/
.template-collage_view {
	background-image:none;
	}
/*=-------------Alumni------------------------=*/

#collage .row_1 .three-columns-equal .block_1, #collage .row_1 .three-columns-equal .block_2, #collage .row_1 .three-columns-equal .block_3, #collage .row_2 .three-columns-equal .block_1, #collage .row_2 .three-columns-equal .block_2, #collage .row_2 .three-columns-equal .block_3 {
    padding: 0;
    width: 100%!important;}

	
	
/*--------------Staff and students-----------*/
#collage .two-columns-largeright .block_1, #collage .two-columns-largeright .block_2{ padding: 0;
    width: 100%!important;}
	
#content #collage p.buttonright, #content #collage p.buttonleft {width: 100%!important; float:none; padding: 0; margin: 0;}