body {
	width: 100%;
	}
.tabposition {
	background: #d7d7d7 url('++resource++leicester.plonetheme.images/bannerlargescreenbg.png') no-repeat top right;
	}
/* for readability making the width of the site only got to 90em */
#visual-portal-wrapper, #portal-header, #portal-footer-wrapper, #libraryfooter {
	width: 1200px !important;
	margin: 0px auto !important;
	display: block;
	float: none;
    }
	
	
	