/*this will make the fixed width column flexible so it fits nicely on tablets and smaller screens*/
body, #visual-portal-wrapper, #portal-header, #portal-footer-wrapper {
	width: 100% !important;
	}
.tabposition {
	height:auto;
	}
#libraryfooter{
	height:auto;
	overflow:hidden;
	padding-bottom:10px;
	}
