/* Portal page variants  */
/*---------------blue potal pages-------------*/
body, .mceContentBody{
	background:#0C293A!important;
	}
#portal-columns {
	background:transparent url(bluefooter.jpg) bottom center no-repeat;
	}
#portal-breadcrumbs {
    background:#113A53;
	}
#content table.listing th, #content table.listing tbody tr.odd td, table.keyfactstable th{
	background:#144763!important;
	}
