/* Portal page variants  */
/*---------------Black portal pages-------------*/
body, .mceContentBody{
	background:#1D2428!important;
	}
#portal-columns {
	background:transparent url(blackfooter.jpg) bottom center no-repeat;
	}
#portal-breadcrumbs {
    background:#2E393F;
	}
#content table.listing th, #content table.listing tbody tr.odd td, table.keyfactstable th{
	background:#36444B!important;
	}
@media screen and (max-device-width: 480px), screen and (min-device-width: 640px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2){
#portal-columns{
	background-image:none;
	padding-bottom:10px!important;
	}}